:root {
--pColor:     #00738e;
--pLightColor:#4da2be;
--pDarkColor: #004761;
--pTextColor: #ffffff;
--pPage: #f2f2f2;
--red: red;
--green: green;
--blue: blue;
--yellow: yellow;
}

.red{background-color: var(--red); }
.green{background-color: var(--green); }
.blue{background-color: var(--blue); }
.yellow{background-color: var(--yellow); }

.pColor,
[class^="btn-"], [class*=" btn-"]{ background-color:var(--pColor); }
.pLightColor:hover,.pLightColor:active,
[class^="btn-"]:hover, [class^="btn-"]:active {background-color:var(--pLightColor); }
.pDarkColor,
.accordion ul label{ background-color:var(--pDarkColor); }
.pTextColor,
.pColor,
.pLightColor:hover,.pLightColor:active,
.pDarkColor,
[class^="btn-"], [class*=" btn-"]{ color:var(--pTextColor); }


/*grid*/
* { box-sizing: border-box; }
[class*="l-"] {float: left; }
.l-fit{ width:auto; } .l-none{display:none; } .l-block{display:block; }
.l-1 {width: 8.33%; } .l-2 {width: 16.66%; } .l-3 {width: 25%; } .l-4 {width: 33.33%; } .l-5 {width: 41.66%; } .l-6 {width: 50%; }
.l-7 {width: 58.33%; } .l-8 {width: 66.66%; } .l-9 {width: 75%; } .l-10 {width: 83.33%; } .l-11 {width: 91.66%; } .l-12 {width: 100%; }

.row::after { content: ""; clear: both; display: table; }
/* .row::after { content: ""; clear: both; display: table; border: 1px solid red; } */
@media (min-width: 30em) {
.row { width: 100%; display: table; table-layout: fixed; }
.col { display: table-cell; }
}

@media only screen and (max-width: 34em) {
[class*="s-"] { float: left; width: 100%; /*box-sizing: border-box; */}
.gal {width: 33.33%; }.s-none{display:none; } .s-block{display:block; }
.s-1 {width: 8.33%; } .s-2 {width: 16.66%; } .s-3 {width: 25%; } .s-4 {width: 33.33%; } .s-5 {width: 41.66%; } .s-6 {width: 50%; }
.s-7 {width: 58.33%; } .s-8 {width: 66.66%; } .s-9 {width: 75%; } .s-10 {width: 83.33%; } .s-11 {width: 91.66%; } .s-12 {width: 100%; }
}


body {
font-size:16px;
background-color: #EEEEEE;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
width: 100%;
margin:0 auto;
color: #000;
padding: 60px 10px 10px 10px;
font-family: "FontAwesome";
}

/* table */
.table { overflow: auto; }
.table table { border-collapse:collapse; border-spacing:0; width:100%; color: #000; }
.table tr { background:#f8f8f8; }
.table tr:nth-child(even){ background:var(--pPage) }
.table th { height:37px; }
.table th,.table td { border:none; text-align:left; padding:8px; }

/* form */
.form {
background:var(--pPage);
border: 1px solid #c1c1c1;
margin-top: 2rem;
max-width: 600px;
margin-left: auto;
margin-right: auto;
padding: 1em;
}

/* input */
input[type=text], input[type=date], input[type=number], input[type=file], input[type=password], select, textarea, .input {
background:white; width:100%; padding:10px; border:1px solid #ccc; border-radius:4px; box-sizing:border-box; margin-top:5px; margin-bottom:10px; resize:vertical; }
input[type=submit], button, input[type=button], .slcBtn{background:#072d3a; padding:12px 20px; border:none; border-radius:4px; cursor:pointer; margin:2px; }

/* modal */
.modal { background:#fefefe; width:80%; margin:auto; margin-top:70px; padding:20px; border:1px solid #ddd; position:relative; max-width: 600px; }
.dialog { width:220px; padding:10px; }
.dialog button { width:100px; }

/* btn */
[class^="btn-"], [class*=" btn-"]{ padding:14px 16px; float:left; display:block; text-decoration:none; }
.btn-close{ color:red; float:right; position:absolute; top:0; right:0; }
.btn-h{ width:100% }
.btn-form { cursor:pointer;

}
.btn-float {
padding: 0;
bottom:40px;
right:40px;
position:fixed;
text-align:center;
border-radius:50px;
cursor:pointer;
z-index: 1;
}
.btn-float i {padding: 5px; }

.floating {
animation-name: floating;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
margin-left: 30px;
margin-top: 5px;
-webkit-filter: drop-shadow(5px 5px 5px #222);
filter: drop-shadow(5px 5px 5px #222);
}

/* search */
.search { height:auto; width:100%; left:0; }
.search ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden; }
.search li {float: left; }
/* .search li a {display: inline-block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; } */

/* spinner */
.spinner {
z-index:1;
width: 80px;
height: 80px;
margin: auto;
top:0; right:0; bottom:0; left:0;
position:absolute;
-webkit-transform: rotateZ(225deg);
transform: rotateZ(225deg);
}
.spinner .cube {
width: 33%;
height: 33%;
background-color: #fff;
float: left;
-webkit-animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.spinner .cube1 { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
.spinner .cube2 { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.spinner .cube3 { -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }
.spinner .cube4 { -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }
.spinner .cube5 { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
.spinner .cube6 { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.spinner .cube7 { -webkit-animation-delay: 0s; animation-delay: 0s; }
.spinner .cube8 { -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }
.spinner .cube9 { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }

@-webkit-keyframes cubeGridScaleDelay {
0%, 70%, 100% { -webkit-transform: scale3D(1, 1, 1); transform: scale3D(1, 1, 1);
} 35% { -webkit-transform: scale3D(0, 0, 1); transform: scale3D(0, 0, 1);
}
}

@keyframes cubeGridScaleDelay {
0%, 70%, 100% { -webkit-transform: scale3D(1, 1, 1); transform: scale3D(1, 1, 1);
} 35% { -webkit-transform: scale3D(0, 0, 1); transform: scale3D(0, 0, 1);
}
}

/* toast */
.toast { min-width:250px; position:fixed; bottom:30px; left:50%; margin-left:-125px; text-align:center; padding:16px; z-index:1; }

/* tabs */
.tabs { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox;
display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;
}
.tabs label { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1;
display: block; padding: 1rem 2rem; margin-right: 0.2rem; cursor: pointer;
}
.tabs .tab { -webkit-box-ordinal-group: 100; -webkit-order: 99; -ms-flex-order: 99; order: 99;
-webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; width: 100%;
display: none; padding: 1rem; background: var(--pPage);
}
.tabs input[type="radio"] { position: absolute; opacity: 0; }
.tabs input[type="radio"]:checked + label { background:var(--pPage); color: #000000; }
.tabs input[type="radio"]:checked + label + .tab { display: block; }

@media (max-width: 45em) {
.tabs .tab, .tabs label { -webkit-box-ordinal-group: NaN; -webkit-order: initial; -ms-flex-order: initial; order: initial;
}
.tabs label { width: 100%; margin-right: 0; margin-top: 0.2rem; }
}

/* pagination */
.pagination {}
.pagination span {padding:14px 16px; float:left; display:block; }

/* progress */
.progress { width: 100%; background-color:#fff; border:1px #ccc solid; margin: 5px auto; }
.progress-container {
position:fixed; top:0; left:0;
width: 100%;
height: 8px;
background: #333;
}
.progress-bar { height: 8px; background: #fff; width: 0%; }

/* chart */
.chart.vertical { height: 200px; }
.chart table { width: 100%; height: 100%; }
.chart.title { text-align: center; }
.chart td { vertical-align: bottom; }

/* cetak */
.logoprint{ width: 64px; height: 64px; }
.cetak table { width: 100%; height: 100%; }
.cetak td { vertical-align: bottom; }
.cetak { overflow: auto; width:100%;
}

@media print { margin: 0cm !important;
body{margin:0; }
.noprint { display:none; }
#main{ display:none; }
#printarea{ display:inline-block; position: absolute; top: 0px; }
.cetak { overflow: auto; width:99%; text-align:center; }
.table th,
.table td { border:1px solid #ccc; text-align:left; padding:8px; }
}

/* navbar */
.navbar {height:50px; width:100%; position:fixed; top:0; left:0; z-index: 1; }
.navbar ul {list-style-type: none; margin:0; left:0; padding: 0; }
.navbar li a, .dropbtn {display: inline-block; color: white; text-align: center; padding: 14px 16px; text-decoration: none; }
/* .navbar li .dropdown {display: inline-block; } */

/* accordion */
.accordion { margin-top:0; padding: 0; overflow-x:hidden; cursor:pointer; width:100%; }
.accordion ul,
.accordion li {padding: 0; left:0; list-style:none;}
.accordion input[type=checkbox], .accordion ul {display:none; }
.accordion input[type=checkbox]:checked + label + ul,
.accordion input[type=checkbox]:checked + label:nth-of-type(n) + ul {display:block; }
.accordion-menu {display:inline-block; }
.accordion-menu:focus .accordion { display: block; }

/* dropdown */
.dropdown {display:none; position: relative; z-index: 0; background-color: var(--pPage); }
.dropdown ul,
.dropdown li {padding:0; top:0; width: 160px; }
.dropdown input[type=checkbox], .dropdown ul {display:none; }
.dropdown input[type=checkbox]:checked + label + ul,
.dropdown input[type=checkbox]:checked + label:nth-of-type(n) + ul {display:block; }
.dropdown-menu {display:block; outline: none; }
.dropdown-menu:focus .dropdown {display:block; }

/* badge */
.badge {position:relative; }
.badge[data-badge]:after {
content:attr(data-badge);
position:absolute;
/* top:5px; */
right:10px;
font-size:.6em;
background:red;
color:white;
width:18px; height:18px;
text-align:center;
line-height:18px;
border-radius:50%;
box-shadow:0 0 1px #333;
}

/* tool */
.tool {display: inline-block; }
.tool:focus .subtool {visibility: visible; }
.subtool {
position: absolute;
z-index: 0;
visibility: hidden;
transition: visibility 0.5s;
background-color: var(--pPage);
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
right: 0;
}
.subtool input[type=text]{ width:100px; }
.subtool a {color: black; padding: 12px 16px; text-decoration: none; display: block; text-align: left; }
.subtool a:hover {background-color: #f1f1f1}

/* gallery */
.gallery {margin: 5px; border: 1px solid #ccc; float: left; width: 180px; }
.gallery:hover { border: 1px solid #777; }
.gallery img, .img {width: 100%; height: auto; }
.gallery .desc { padding: 15px; text-align: center; }


/* ico */
.ico,
[class^="ico-"],
[class*=" ico-"]{font:normal 1em/1 Arial, sans-serif; display:inline-block; font-size:1.5em;
 background-size: 100% 100%; padding:14px 16px;  display:block; text-decoration:none;
}

.ico-facebook{ background-image: url("files/facebook.svg"); }
.ico-github{ background-image: url("files/github.svg"); }
.ico-linkedin{ background-image: url("files/linkedin.svg"); }
.ico-twitter{ background-image: url("files/twitter.svg"); }
.ico-whatsapp{ background-image: url("files/whatsapp.svg"); }

.ico-scan{ background-image: url("../images/icons/scan.svg"); }
.ico-scan2{ background-image: url("../images/icons/scan2.svg"); }
.ico-cetak{ background-image: url("../images/icons/print.svg"); }
/* .ico-home{ background-image: url("../images/icons/home.svg"); } */
.ico-home:before{ content:"\1F3E0"; }
.ico-home:before{ content:"\2617"; }
.ico-kd{ background-image: url("../images/icons/kd.svg"); }
.ico-tridot:before{ content: "\22EE"; }
.ico-envelope:before{ content: "\2709"; }
.ico-close:before{ content:"\2716"; }
.ico-burger:before{ content:"\2630"; }
.ico-pencil:before{ content:"\270E"; }
.ico-info:before{ content:"\24D8"; }
.ico-filter:before{ content:"\2692"; }
.ico-gear:before{ content:"\2699"; }
.ico-bag:before{ content: "\26C9"; }
.ico-user:before{ content:"\1F466"; }
.ico-bell:before{ content:"\1f514"; }
.ico-bell2:before{ content:"\2660"; }
.ico-out:before{ content:"\1f4e4"; }
.ico-find:before{ content:"\1F50D"; }
.ico-back:before{ content:"\2190"; }
.ico-forward:before{ content:"\2192"; }
.ico-plus:before{ content:"\271A"; }
.ico-print:before{ content:"\1F5B6"; }
.ico-outbox:before{ content:"\1F4E4"; }
.ico-inbox:before{ content:"\1F4E5"; }
.ico-check:before{ content:"\2714"; }
.ico-fdd:before{ content:"\1F5AB"; }
.ico-chart:before{ content:"\1F4CA"; }
.ico-folder:before{ content:"\1F5BF"; }
.ico-man:before{ content:"\1F464"; }
.ico-dollar:before{ content:"\00024"; }
.ico-confirm:before{ content:"\02713"; }
.ico-envelope:before{ content:"\02709"; }

.ico-i:before{ content:"i"; }
.ico-b:before{ content:"b"; }
.ico-p:before{ content:"p"; }
.ico-a:before{ content:"a"; }
.ico-img:before{ content:"img"; }

/* .ico-i{ background-image: url("../files/icons/italic.svg"); }
.ico-b{ background-image: url("../files/icons/bold.svg"); }
.ico-p{ background-image: url("../files/icons/paragraph.svg"); }
.ico-link{ background-image: url("../files/icons/link.svg"); }
.ico-image{ background-image: url("../files/icons/shapes.svg"); } */



.padding { padding: 8px;}
.border { border: 2px solid var(--pDarkColor);}
.center { margin: auto; text-align: center; padding: 8px;}
.left{float: left; }
.right{float:right; }
.hide{display:none; }
.show{ display:block; }
.label { color: white; padding: 8px; }
.title{ font-weight: bold; }
.disabled {pointer-events: none; cursor: default; opacity: .4; cursor: default !important; }
.img { width: 100%; height: auto; }
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}
.next { right: 10px; border-radius: 3px 0 0 3px; }
.text { color: var(--pPage); font-size: 15px; padding: 8px 12px; position: relative; bottom: 8px; width: 100%; text-align: center; }
.numbertext { color: var(--pPage); font-size: 12px; padding: 8px 12px; position:absolute; top: 0; }

.pie {
min-width: 100px; min-height: 100px;
border-radius: 50%;
background: conic-gradient(red 20%, #fb3 0, #fb3 25%, yellowgreen 0);
}
.bar { height: 30px; text-align: center; line-height: 30px; }
.bar {background:#072d3a; height:50px; width:100%; z-index: 1; }
.bar ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #072d3a; }
.bar li {float: left; }
.QRPrintArea{width:100px; height:100px; margin-top:15px; }
.container {width: 80%;padding: 50px 0;margin: 50px auto;position: relative;overflow: hidden;}
.container:before {
content: '';
position: absolute;
top: 0;
left: 50%;
margin-left: -1px;
width: 2px;
height: 100%;
background: #CCD1D9;
}


@media screen and (max-width: 768px) {
.container:before { left: 8px; width: 2px; }
}

/* div */
.depan { background:rgb(0, 0, 0); background:rgba(0, 0, 0, 0.4); height:100%; width:100%; position:fixed; top:0; left:0; overflow:auto; }
.modal-bts:focus .modal-contents {display: block; }
input:focus .depan { display: block; }

@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }100% { -webkit-transform: rotate(360deg); }}
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

.flex-wrapper { display: flex; flex-flow: row nowrap; }
.single-chart { width: 100%; justify-content: space-around ; }
.circular-chart { display: block; margin: 10px auto; max-width: 80%; max-height: 250px; }
.circle-bg { fill: none; stroke: #ccc; stroke-width: 3.8; }
.circle { fill: none; stroke-width: 2.8; stroke-linecap: round; animation: progress 1s ease-out forwards; }
@keyframes progress { 0% { stroke-dasharray: 0 100; }}
.circular-chart.orange .circle { stroke: #ff9f00; }
.circular-chart.green .circle { stroke: #4CC790; }
.circular-chart.blue .circle { stroke: #3c9ee5; }
.percentage { fill: #666; font-family: sans-serif; font-size: 0.5em; text-anchor: middle; }


/* slide */

.slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slide .dot {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 0 10px;
  background-color: var(--pColor);
  color:var(--pTextColor);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: :var(--pLightColor);
}


.mySlides {display: none}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
