:root {
--pColor:     #00738e;
--pLightColor:#4da2be;
--pDarkColor: #004761;
--pTextColor: #ffffff;
}

#sertifikat { position:relative; height: 205mm; width:292mm; text-align: center; }
#cimage { position:relative;  height: 205mm; width:292mm;  }
#cnama { position:absolute;  top:65mm; font-size: 60px; text-align: center; width: 100%; }
#cnilai { position:absolute; top:115mm; left:80mm;  font-size: 60px; }
